@import "tailwindcss";

@theme {
  --font-display: var(--font-display);
  --font-body: var(--font-body);

  --color-brandBeige: #D9D1C0;
  --color-brandBlack: #121212;
}

body {
  background-color: var(--color-brandBeige);
  color: var(--color-brandBlack);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
